#Copyright {
	color: gray;
}

#title {
	text-align: center;
	font-family: sans-serif, Arial;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

#memes {
	text-align: center;
	font-family: sans-serif, Arial;
}

	
	
